<div class="form-group">
    <label title="{{placeholder}}" class='control-label' for='{{attribute}}'>
      {{label}}
    </label>
  <input
    value={{get model attribute}}
    class='form-control'
    placeholder={{placeholder}}
    type='text'
    id={{attribute}}
  >
</div>

