<div class="form-group">
    <label title="{{placeholder}}" class='control-label' for='{{attribute}}'>
      {{label}}
    </label>
  <input
    value={{get model attribute}}
    oninput={{action this.attrs.onUpdateValue value="target.value"}}
    class='form-control'
    placeholder={{placeholder}}
    type='text'
    id={{attribute}}
  >
</div>

